@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Ubuntu:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/** GENERAL**/

h2 {
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
    font-size: 20%;
}

.wrapper {
    width: 100%;
}

#stopScroll.active {
    overflow: hidden;
}


/** Center all Section **/

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

#about h2 {
    margin: 0 0 110px 0;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.description,
.veille-p {
    margin-left: auto;
    margin-right: auto;
    width: 60em;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

li {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.veille-li {
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.title-about,
.title-entreprise,
.title-veille,
.title-contact,
.title-skills {
    margin-left: auto;
    margin-right: auto;
    padding: 40px 10px 0 0;
    font-size: 40px;
}

.titleproject {
    margin-left: auto;
    margin-right: auto;
    padding: 0 50% 0 0;
    font-size: 40px;
}

#portfolio #veilletechno h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

#contacts p {
    font-family: 'Montserrat', sans-serif;
}

.main-screen {
    background: #30E8BF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #30e8bf, #f4722b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #30e8bf, #f4722b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw;
}

footer {
    background-color: antiquewhite;
}


/**ANIMATION**/

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
}


/** POP UP **/

.container {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    color: #9f9c9c;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.content-child {
    order: -1;
    margin: 0 0 110px 50%;
    flex: 1 1 100%;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.content-1:hover .image,
.content-2:hover .image,
.content-3:hover .image,
.content-4:hover .image,
.content-5:hover .image,
.content-6:hover .image {
    opacity: 0.3;
    transition: 300ms;
}

.content-1:hover .middle,
.content-2:hover .middle,
.content-3:hover .middle,
.content-4:hover .middle,
.content-5:hover .middle,
.content-6:hover .middle {
    opacity: 1;
    transition: 250ms;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.container#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.container .content-1,
.container .content-2,
.container .content-3,
.container .content-4,
.container .content-5,
.container .content-6 {
    position: relative;
    max-width: 800px;
}

#project1-popup,
#project2-popup,
#project3-popup,
#project4-popup,
#project5-popup,
#project6-popup {
    position: fixed;
    display: flex;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
}

#project1-popup.active,
#project2-popup.active,
#project3-popup.active,
#project4-popup.active,
#project5-popup.active,
#project6-popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#project1-popup h2,
#project2-popup h2,
#project3-popup h2,
#project4-popup h2,
#project5-popup h2,
#project6-popup h2 {
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
    font-size: 40px;
}

.container .content-1 img,
.container .content-2 img,
.container .content-3 img,
.container .content-4 img,
.container .content-5 img,
.container .content-6 img {
    max-width: 100%;
    display: block;
    border: 1px solid grey;
    border-radius: 15px;
    margin: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    max-height: 200px;
}

#button-puissance4,
#button-beepsong,
#button-virtualPiano,
#button-Devis,
#button-CV,
#button-Idkids {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 14px 29px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

#button-puissance4:hover,
#button-beepsong:hover,
#button-virtualPiano:hover,
#button-Devis:hover,
#button-CV:hover,
#button-Idkids:hover {
    background-color: whitesmoke;
    color: black;
    transition: 250ms;
}

#project1-popup.child,
#project2-popup.child,
#project3-popup.child,
#project4-popup.child,
#project5-popup.child,
#project6-popup.child {
    display: inline-block;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    background: #3794fe;
    border-radius: 6px;
    padding: 20px;
    margin: 12px;
}

.child:first-child {
    margin-left: 110%;
    border-radius: 50px;
    margin-top: -40px;
    border: white;
    cursor: pointer;
    margin-bottom: 30px;
    background-color: transparent;
}

.child:not(:first-child) {
    font-family: 'Montserrat', sans-serif;
    flex: 1;
    font-weight: bold;
}


/** HEADER **/

header {
    background: url(https://tinyurl.com/kxx8btdj);
    background-size: cover;
    /** Header Cover all the screen **/
    width: 100vw;
    height: 100vh;
}

.nav-fixed {
    display: none;
}

.active_nav_1 {
    background-color: #f4722b;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
}

.active_nav_2 {
    background-color: #a7a166;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
}

.active_nav_3 {
    background-color: #54D2A3;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
}

.menu li:hover {
    background: #000000;
    transition: 0.4s;
}

.menu li:hover a {
    color: #f4722b;
    transition: 0.4s;
}

.title {
    display: grid;
}

.title-hidden:nth-child(1) {
    transition-delay: 500ms;
}

#site-title {
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    line-height: 60px;
    margin-left: 10px;
    font-size: 45px;
    color: black;
}

#site-title:hover {
    transition: 0.3s;
    color: white;
}

#sub-site-title {
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    line-height: 60px;
    margin-left: 10px;
    font-size: 25px;
    color: black;
}

#sub-site-title:hover {
    transition: 0.3s;
    color: white;
}


/** Skills **/

.skills-bar {
    width: 50%;
    background: transparent;
    border-radius: 10px;
    padding: 15px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.skills-bar .bar {
    margin: 20px 0;
}

.skills-bar .bar:first-child {
    margin-top: 0;
}

.skills-bar .bar .info {
    margin-bottom: 5px;
}

.skills-bar .bar .info span {
    font-size: 17px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.skills-bar .bar .progress-line {
    position: relative;
    height: 20px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
    height: 100%;
    width: 80%;
    background: linear-gradient(45deg, coral, orangered);
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-line.patrimoine span {
    width: 85%;
}

.progress-line.incident span {
    width: 100%;
}

.progress-line.devweb span {
    width: 33%;
}

.progress-line.modeprojet span {
    width: 66%;
}

.progress-line.service span {
    width: 100%;
}

.progress-line.orga span {
    width: 100%;
}

.bar .progress-line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.bar .progress-line span::after {
    position: absolute;
    content: "80%";
    right: 0;
    top: -26px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.progress-line.patrimoine span::after {
    content: "85%";
}

.progress-line.incident span::after {
    content: "100%";
}

.progress-line.devweb span::after {
    content: "33%";
}

.progress-line.modeprojet span::after {
    content: "66%";
}

.progress-line.service span::after {
    content: "100%";
}

.progress-line.orga span::after {
    content: "100%";
}

.content-patrimoine {
    display: none;
    transition: 0.5s linear;
    border-color: black;
    border-width: 2px;
}

#check-patrimoine {
    display: none;
}

#check-patrimoine:checked~.content-patrimoine {
    display: block;
}

.content-incident {
    display: none;
    transition: 0.5s linear;
    border-color: black;
    border-width: 2px;
}

#check-incident {
    display: none;
}

#check-incident:checked~.content-incident {
    display: block;
}

.content-devweb {
    display: none;
    transition: 0.5s linear;
    border-color: black;
    border-width: 2px;
}

#check-devweb {
    display: none;
}

#check-devweb:checked~.content-devweb {
    display: block;
}

.content-modeprojet {
    display: none;
    transition: 0.5s linear;
    border-color: black;
    border-width: 2px;
}

#check-modeprojet {
    display: none;
}

#check-modeprojet:checked~.content-modeprojet {
    display: block;
}

.content-service {
    display: none;
    transition: 0.5s linear;
    border-color: black;
    border-width: 2px;
}

#check-service {
    display: none;
}

#check-service:checked~.content-service {
    display: block;
}

.content-orga {
    display: none;
    transition: 0.5s linear;
    border-color: black;
    border-width: 2px;
}

#check-orga {
    display: none;
}

#check-orga:checked~.content-orga {
    display: block;
}

.p-showmore {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

label {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    color: #333333;
    padding-bottom: 35px;
}

.skill-li {
    list-style-image: url("../Portfolio/img/checked.png");
}

.detail-skill {
    font-size: 10px;
    line-height: 25px;
}


/** Media **/

@media (prefers-reduced-motion: no-preference) {
    .hidden {
        transition: all 800ms;
    }
}

@media only screen and (min-width: 768px) {
    .nav-fixed {
        display: flex;
        width: 100%;
        height: 60px;
        background: transparent;
        position: fixed;
        z-index: 10;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, .6);
        transition: 400ms ease-in-out background-color, 400ms ease-in-out color;
    }
    nav ul {
        list-style-type: none;
        margin: 0 0% auto 0;
        padding-left: 0;
        max-width: 100%;
        display: inline;
    }
    nav ul li {
        display: inline-flex;
        line-height: 60px;
        margin-left: 50px;
        margin-right: 10px;
    }
    nav ul li a {
        text-decoration: none;
        color: white;
        font-weight: bolder;
        font-family: 'Ubuntu', sans-serif;
        padding: .1rem 2rem;
        text-shadow: 0 0 .3rem rgba(0, 0, 0, .2);
        transition: 400ms ease-in-out background-color, 400ms ease-in-out color;
    }
}